

h1, h2, h3 {
  color: #FD5C63;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Muli", sans-serif;
  font-size: 1.2rem;
}

ul li{
  list-style-type: none;
  font-family: "Muli",. sans-serif;
}
