

h1, h2, h3 {
  color: #eb4d4b;
  font-family: "Staatliches";
}

p {
  font-family: "Lora",serif;
  font-size: 1.1rem;
  margin-top: 8px;
}

ul li{
  list-style-type: none;
  font-family: "Muli",. sans-serif;
}


  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #title {
    font-family: "Staatliches";
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    color: #eb4d4b;
  }

  #logo {
    font-family: "Staatliches";
    font-size: 1.8rem;
    font-weight: 400;

  }

  img {
    width: 100%;
    margin: 0;

  }

  .donate_box {
    position: relative;
    text-align: center;
    color: white;
  }

  .donate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #donate_text {
    font-size: 5rem;
    font-family: "Staatliches";
    color: white;
  }

  button {
    background-color: #fd5c63;
    padding: 18px 36px;
    border: none;
    border-radius: 6px;
    font-family: "Muli", sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;

  }

  .referral_thumbnail {
    font-family: "Staatliches";

  }
  .volunteer_box {
    margin-top: 10px;
  }

  .homebase {
    margin-top: 20px;
  }

  #vol_text {
    text-align: center;
    padding-top: 10px;
  }

  .upcoming_events {
    margin-top: 40px;
  }

  #footer {
    font-size: .8rem;
    text-align: center;
  }
